body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat-Bold', sans-serif;
}

/* Headings sections */
.big-heading {
  text-align: left;
  font-size: 2.7rem;
  line-height: 1.5;
  text-align: left;
}
/*  title section */
#title {
  text-align: left;
}

/* sections */
.white-section {
  background-color: white;
}

.colored-section {
  background-color: #639a67;
  color: white;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* features section */
#features {
  padding: 100px;
}


.icon {
  padding-bottom: 20px;
}

.icon:hover {
  color: #feceab;
}

/* testimonials section */

.samaria {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
  height: 10%;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
  height: 10%;
}

.testimonal-text {
  font-size: 1.9rem;
  line-height: 1.5;
}
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 10px 20px 50px;
}

/* Pricing section*/
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 1.9rem;
  line-height: 1.5;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }
}

/* CTA section */
#cta .container-fluid{
  padding: 10% 15%;
}
}
.cta-button {
  margin: 20px 30px 30px;
}

.cta-text {
  margin: 0;
  font-size: 2.9rem;
  line-height: 1.5;
}

#cta .cta-subtext{
  font-weight: light;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* footer section */
#footer {
  padding: 50px;
}

.icon-footer {
  margin-left: 30px;
  margin-bottom: 50px;
}

.copy-text {
  font-size: 0.9rem;
}
